.sit-footer {
  padding-top: 100px;
  border-top: 1px solid #d8d8d8;
}

.footer-post-wrap {
  margin-bottom: 60px;
}

.footer-post-wrap figure {
  width: 185px;
  margin: 0 30px 0 0;
}

.footer-post-wrap figure img {
  display: block;
  width: 100%;
}

.footer-post-cont {
  width: calc(100% - 205px);
}

.footer-post-cont .posted-date {
  margin-top: 20px;
  font-size: 11px;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  color: #afafaf;
}

.footer-post-cont h3 {
  margin-top: 10px;
  font-size: 18px;
}

.footer-post-cont h3 a {
  color: #2f2f2f;
}

.footer-post-cont .tags-links {
  margin-top: 12px;
}

.footer-post-cont .tags-links a {
  margin-right: 5px;
  font-size: 12px;
  color: #afafaf;
}

.footer-post-cont .read-more {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 14px;
  color: #2f2f2f;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 1200px){
  .footer-post-wrap {
      margin-bottom: 0;
  }
}

.pagination {
  margin-top: 100px;
}

.pagination ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination li {
  margin-right: 10px;
}

.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 11px;
  color: #2f2f2f;
  background: #f0f0f0;
  text-decoration: none;
}

.pagination li a:hover,
.pagination li.active a {
  color: #fff;
  background: #2f2f2f;
}
