@import "../../variables";

.admin-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

section {
  margin: 0 auto;
  background: repeating-linear-gradient(
    45deg,
    $lightgrey,
    $lightgrey 20px,
    $mediumgrey 20px,
    $mediumgrey 40px
  );
  padding: 20px;
  border: 1px solid $black;
  border-radius: 5px;
  box-shadow: 5px 10px $black;
  overflow: auto;
  height: 80%;
  width: 90%;
}
