<br><br><br>
<div class="post-wrap" *ngFor="let post of posts; let i = index">
  <div class="content-section posted-date">
    <h4>{{ post.createdAt }}</h4>
  </div>
  <br>
  <div class="content-section entry-title">
    <h1>{{ post.title }}</h1>
  </div>
  <br><br>
  <div class="content-section tags-links">
    <span *ngFor="let tag of post.tags">{{ tag }}</span>
  </div>
  <br><br>
  <div class="content-section entry-content">
    <p>{{ post.content }}</p>
  </div>
  <br>
  <div class="content-section read-more">
    <a class="read-more" [routerLink]="'/post/' + post.id">...read more</a>
  </div>
  <br><br><br><br>
  <div *ngIf="i !== (posts.length - 1)">
    <hr class="breaking-line">
    <br><br><br><br>
  </div>
</div>
