@import "../../../../variables";

section {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 100px;
}

.post-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $grey;
  padding: 0 3%;
}

.post-wrap .content-section {
  width: 100%;
  text-align: center;
}

.post-wrap .posted-date {
  letter-spacing: $smallLetterSpacing;
  text-transform: uppercase;
}

.post-wrap .entry-title {
  color: $black;
}

.post-wrap .tags-links {
  & span {
    margin-right: 15px;
  }
}

.post-wrap .entry-content {
  & p {
    text-align: left;
  }
}

.post-wrap .read-more {
  //nothing for now
  visibility: visible;
}

.post-wrap .comments {
  text-align: right;
  padding-right: 10%;
}
