<div class="posts-list">
    <div class="post-wrap" *ngFor="let post of posts">
        <div class="content-section posted-date">
            <h4>{{ post.createdAt }}</h4>
        </div>
        <div class="content-section entry-title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="content-section tags-links">
            <span *ngFor="let tag of post.tags">{{ tag }}</span>
        </div>
        <div class="content-section entry-content">
            <p>{{ post.content }}</p>
        </div>
        <div class="content-section read-more">
            <a class="read-more" href="#">Read more</a>
        </div>
        <div class="content-section comments">
            <a href="#">{{ post.commentsCount }} Comments</a>
        </div>
    </div>
</div>
