<nav [className]="hamburgerMenuOpened ? 'show' : ''">

  <div [className]="'hamburger-menu d-lg-none ' + (hamburgerMenuOpened ? 'open' : '')"
       (click)="toggleHamburgerMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="menu flex-lg flex-lg-row justify-content-lg-center align-content-lg-center">
    <li *ngFor="let tab of tabs; index as i" 
        [className]="selectedTab === i ? 'selected' : ''" 
        (click)="selectTab(i)">
      <a href="#">{{ tab }}</a>
    </li>
  </ul>
  
</nav>
