@import "../../../../variables";

section {
  width: 100%;
  margin: 0 auto;
}

button {
  padding-left: 40px;
  padding-right: 40px;
}

.title {
  text-align: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid $red;
}

label {
  float: left;
  display: block;
}
