.notification-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  margin: 2%;
}

.notification {
  z-index: 9999;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px black;
  margin-bottom: 20px;
  height: 100px;
  overflow: hidden;
}

.notification-cross {
  position: absolute;
  top: 4%;
  right: 1%;
  font-size: 1.6em;
  cursor: pointer;
}


/*
  .global-handler {
    z-index: 9999;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px black;
    margin-bottom: 20px;
    height: 100px;
    overflow: hidden;
    .global-handler-cross {
      position: absolute;
      top: 4%;
      right: 1%;
      font-size: 1.6em;
      cursor: pointer;
    }
  }
}
*/
