@import '../../../../variables';

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// =============================
// Hamburger menu
// =============================

.hamburger-menu {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: 1px solid $grey;
  padding: 10px 0;
  margin: 0 10px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.hamburger-menu i {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: $smallPoint) {
  .hamburger-menu {
    display: none;
  }
}

// =============================
// Menu items section
// =============================

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  display: block;
  letter-spacing: $smallLetterSpacing;
  text-transform: uppercase;
  padding: 0 16px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.menu li.selected a {
  font-weight: bold;
  color: $red !important;
}

.menu li a {
  padding: 4px 0;
  cursor: pointer;
  &:hover {
    color: $red;
  }
}

@media screen and (max-width: $smallPoint) {
  .menu {
    flex-direction: column;
  }
  .menu li {
    margin-bottom: 5px;
  }
  .menu li a {
    border-bottom: 2px solid $lightgrey;
    &:hover {
      border-bottom: 2px solid $grey;
    }
  }
}
