<nav [className]="hamburgerMenuOpened ? 'show' : ''">

  <!-- Hamburger menu icon -->
  <div class="hamburger-menu"
       (click)="toggleHamburgerMenu()">
    <i class="fa fa-bars"></i>
  </div>

  <!-- Menu -->
  <ul class="menu" 
      *ngIf="hamburgerMenuOpened && selectedTab$ | async">
    <li *ngFor="let tab of tabs$ | async"
        [className]="(selectedTab$ | async).id === tab.id ? 'selected' : ''">
      <h3>
        <a [routerLink]="contentRoutes.postsList(tab.id)">{{ tab.name }}</a>
      </h3>
    </li>
  </ul>

</nav>
