@import "../../variables";

footer {
  position: fixed;
  bottom: 0;
  text-align: left;
  width: 100%;
  padding: 22px;
  background: $black;
  color: $lightgrey;
  z-index: $footer;
}

.to-right {
  float: right;
  margin-right: 5px;
  & a {
    color: $white;
  }
  & a:hover {
    color: $red;
  }
}
