@import "../../variables";

section {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 0;
}

.left-section {
  width: 75%;
  margin: 0;
}

.right-section {
  position: relative;
  width: 25%;
  z-index: $selfieImage;
  min-height: 100vh;
  background-image: linear-gradient(to right, $white , $lightgrey);
}

.right-section .right-section-inner {
  position: absolute;
  top: -170px;
  width: 100%;
}

@media screen and (max-width: $smallPoint) {
  section {
    flex-direction: column;
  }
  .left-section {
    width: 100%;
  }
  .right-section {
    width: 100%;
  }
  .right-section .right-section-inner {
    top: 0;
    margin-bottom: 100px; // to move the footer down on mobile websites
  }
}
