$primary-font: "Roboto", "Helvetica", "Arial", sans-serif;
$break-small: 320px;
$break-mobile: 800px;
$break-large: 1200px;

// Colors
$black: #2f2f2f;
$grey: #9d9d9d;
$lightgrey: #f0f0f0;
$red: red;

// Used in RWD
$smallPoint: 700px;
$mediumPoint: 1000px;
