@import "./variables";

@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('/fonts/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
  url('/fonts/HelveticaNeueLTPro-Md.otf')  format('opentype'),
  url('/fonts/HelveticaNeueLTPro-Md.woff') format('woff'),
  url('/fonts/HelveticaNeueLTPro-Md.ttf')  format('truetype'),
  url('/fonts/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BeyondTheMountains';
  src: url('/fonts/BeyondTheMountains.eot?#iefix') format('embedded-opentype'),
  url('/fonts/BeyondTheMountains.otf')  format('opentype'),
  url('/fonts/BeyondTheMountains.woff') format('woff'),
  url('/fonts/BeyondTheMountains.ttf')  format('truetype'),
  url('/fonts/BeyondTheMountains.svg#BeyondTheMountains') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #2f2f2f;
  font-family: 'HelveticaNeueLTPro-Md';
  font-size: 14px;
}

img {
  vertical-align: baseline;
}

a {
  display: block;
  transition: all 0.35s;
  text-decoration: none;
}

a:hover {
  color: red;
}

h1 {
  font-size: 2.5em;
}

h2, .ql-size-huge {
  font-size: 1.8em;
}

h3, .ql-size-large {
  font-size: 1.2em;
}

h4 {
  font-size: 0.8em;
}

p {
  padding: 0.75rem;
  margin: 0;
}

a, a:active, a:link, a:visited {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $red;
  }
}

.ajax-loader {
  background: transparent url('/images/ajaxLoader.svg') center no-repeat;
  height: 80px;
}

hr.breaking-line {
  width: 20%;
  text-align: center;
  border: 1px solid $black;
  border-radius: 50%;
}

.ngx-wrapper {
  background-color: white;
}

.no-content {
  width: 100%;
  text-align: center;
}

.validation-input-error {
  display: block;
  float: left;
  color: $red;
  margin-left: 20px;
}

.well {
  background-color: $lightgrey;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid $grey;
  & .well-title {
    text-align: center;
    margin-top: 15px;
    & h1 {
      font-family: 'BeyondTheMountains';
    }
  }
}
