<div class="swiper-container">

  <div class="swiper-overlay">
    <logo-component></logo-component>
    <menu-container></menu-container>
    <div class="post-title-block" *ngIf="(post$ | async) as post">
      <div class="post-title-block-inner">
        <h1 class="text-center">{{ post.title }}</h1>
      </div>
    </div>
  </div>

  <div class="swiper-wrapper" *ngIf="photosForSelectedTab">
    <div class="swiper-slide">
      <div class="swiper-content">
        <img [src]="photosForSelectedTab[0] + '_thumb.jpg'"
             [data-src]="photosForSelectedTab[0]"
             image-loader
             alt=""/>
      </div>
    </div>
  </div>

</div>
