<section>
  <div class="post-wrap" *ngIf="post$ | async">
    <div class="content-section posted-date">
      <h4>{{ (post$ | async).createdAt | date:'medium' }}</h4>
    </div>
    <br>
    <div class="content-section entry-title">
      <h1>{{ (post$ | async).title }}</h1>
    </div>
    <div class="content-section tags-links">
      <span *ngFor="let tag of (post$ | async).tags">#{{ tag }}</span>
    </div>
    <br>
    <div class="content-section entry-content" [innerHTML]="(post$ | async).content | safeHtml">
      <!-- post content HTML -->
    </div>
    <div class="content-section entry-comments">
      <comments-component></comments-component>
    </div>
    <br><br><br><br>
  </div>
</section>
